.card {
    .table-sm > :not(caption) > * > * {
        padding-left: .75rem;
        padding-right: .75rem;
    }

    .card-header, .card-footer {
        height: 55px;
    }

    .card-body {
        > .table {
            margin-bottom: 0;

            > tbody > tr:last-child > td {
                border-style: none;
            }
        }
    }
}
